# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
# Output of the go coverage tool
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Environment variables and sensitive data
.env
.env.local

# IDE-specific files and directories
# Covers JetBrains IDEs (IntelliJ, GoLand, etc.)
.idea/
# VS Code
.vscode/

# Operating system files
.DS_Store # macOS
Thumbs.db # Windows
